html{
	font-family: "sans-serif"; 
}

a{  							/* generic link formatting */
	text-decoration: none;
	font-family: 'Oxygen Mono', monospace;
	font-weight: 400;
}

h1{							/*set text setting for main heading japanese */
	color: #8DA6A1;
	font-weight: 400;
	line-height: 1;
	font-size: 50px;
	font-family: 'Noto Sans JP', sans-serif;
	margin-top: 130px;
}

.bg{ 							/*set up background color */
	background-color: #5e5455;
	position: absolute;
    top: 0px;
    left: 0px;
	height: 100%;
	width: 100%;
}

.main{							/*set up main window block */
	width: 718px;
	height: 360px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.head1{ 	 					/*set up block for heading and clock */
	background-color: ;
	width: 300px;
	height: 40px;
	position: absolute;
	left: 410px;
  	font-family: 'Oxygen Mono', monospace;
	font-weight: 400;
	font-size: 20px;
}

#clock{  						/*set up clock text formatting */
	text-align: left;
	position: relative;
	top: 8px;
	right: 5px;
	color: #8DA6A1;
}

.welcome{  						 /*set up welcome heading block */
	width: 400px;
	height: 100px;
	top: 20px;
	position: absolute;
}

.body{ 							 /*set up main block for links */
	width: 400px;
	height: 100px;
	position: absolute;
	top: 230px;
}

.sidebar {  						/*set up sidebar image */
	/*border-style: solid;
	border-width: 4px;
	border-color: #03345a;
	*/
	width: 300px;
	height: 430px;
	position: absolute;
	left: 410px;
	top: 40px;
	background-position: 69% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(src/pics/sunsetdragon.gif);
}


/*the rest is link formatting */

a.link{
	font-size: 20px;
	cursor: pointer;
	transition: .2s;
	padding: 3px;
	line-height:50px;
}

.line{
	width: 400px;
	height: 35px;
}

a:link{
	color: #8DA6A1;
}

a:visited{
	color: #8DA6A1;
}

a:hover{
	color: #F2A9A2;
}
















